.lean-form-userWidget {
  margin-bottom: 20px;
}

.lean-form-selector {
  margin-bottom: 10px;
  margin-left: 30px;
}

.lean-form-widgetContainer {
  border: 1px solid transparent;
  padding: 15px;
  border-radius: 8px;
  transition: all 0.5s;

  .lean-form-editBtnZone {
    display: none;
    float: right;
  }
}

.lean-form-widgetContainer:hover {
  border: 5px solid red;
  .lean-form-editBtnZone {
    display: inline-block;
  }
}
